@import "../../base/base";
//Components
@import "../../components/header/header";
@import "../../components/footer/footer";
@import "../../components/list/list";
@import "../../components/gird/gird";
@import "../../components/pages/pages";
@import "../../components/classify_categories/classify_categories";
@import "../../components/modal/modal";
@import "../../components/breadcrum/breadcrum";
@import "../../components/categories_top/categories_top";
.container {
  max-width: 100%;
  padding: 0;
  background-color: #F4F4F4;
  .wrapper-body {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    .side-wrapper {
      width: 65%;
      .fillter {
        margin-top: 10px;
        background-color: white;
        display: flex;
        border: 1px solid #cacaca;
        height: 44px;
        ul {
          display: flex;
          //justify-content: space-between;
          width: 66%;
          padding-right: 30px;

          li {
            line-height: 40px;
            margin: 0 12px;
            font-size: 13px;
            opacity: 0.5;
            width: 100%;

          }
          li:hover {
            cursor: pointer;
          }
        }
        .active {
          color: #000;
          border-bottom: 2px solid #FFD100;
          display: block;
        }
      }

      .dropdown-group {
        width: 34%;

        .dropdown-btn {
          display: flex;

          .dropdown-btn-title {
            display: block;
            margin-left: 39px;
            font-size: 14px;
            font-family: Verdana, Arial, sans-serif;
            color: #333333;
            line-height: 3;
            text-align: center;

            i {
              font-size: 18px;
              margin: 5px;
            }
          }
        }
      }
      .fillter-icon {
       img{
         vertical-align: middle;
       }
      }

.swiper-container{
.swiper-wrapper{
  .swiper-slide{
    ul{
      display: flex;
      align-items: center;
      height: 44px;
      margin: 10px 0;
      white-space: nowrap;
      position: relative;
      li{
        font-size: 13px;
        color: #fe9900;
        background-color: #ffffff;
        padding: 6px;
        text-transform: capitalize;
        text-align: center;
        line-height: 3;
        height: 100%;
        margin-right: 8px;
        cursor: pointer;
        .bg-cyan{
          color: #38699f;;
        }
        .bg-green{
          color: #589f39;
        }
        .bg-perse{
          color:  #0094a3;
        }
        .bg-red{
          color: #d0021b;
        }
      }
      .select-item{
      }
      &:hover .swiper-button-next{
        transform: translateY(-50%) scale(1.2);
      }
    }
  }
}
  .swiper-button-prev{
    background: #ffffff;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 44px;
    right: 0;
    color: rgb(155, 155, 155);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.3);
    border-radius: 50%;
    left: 0;
    &::after{
      font-size: 16px;
      font-weight: 700;
    }

  }
  .swiper-button-next{
    background: #ffffff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 44px;
    right: 0;
    color: rgb(155, 155, 155);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.3);
    &::after{
      font-size: 16px;
      font-weight: 700;
    }
  }
}
      .hidden{
        display: none!important;
      }
      .flex{
        display: flex!important;
      }
      .list-show{
        display: block;
      }
    }
    .share-exp{
      h3{
        font-size: 12px;
        font-weight: 700;
        color: #888;
        text-align: center;
        margin: 20px 0 31px 0;
      }
      p{
        margin: 0 0 31px;
        color: #888;
        line-height: 16px;
        font-size: 13px;
        font-weight: 600;
      }
    }
    .description {
      p {
        font-size: 12px;
        color: #888;
        line-height: 16px;
      }
      a {
        color: #33659c;
      }
      h3 {
        margin: 5px 0 5px;
        color: #888;
        line-height: 16px;
        font-size: 13px;
      }
      p {
        font-size: 12px;
        color: #888;
        line-height: 16px;
        font-weight: 500;
      }
    }

  }
  .seo-key {
    background-color: #F4F4F4;
    strong {
      padding: 0 15px;
      font-weight: 700;
      font-size: 11px;
      color: #777;
    }
    .list-seo-key {
      display: flex;
      justify-content: space-around;
      padding: 0 0 20px 0;
      margin: 11px 0;
      .seo-key-item {
        ul {
          li {
            list-style: outside;
            color: #777777;
            a {
              padding: 0 10px;
              color: #777;
              font-size: 11px;
              line-height: 25px;
              text-align: left;
              font-family: Verdana, Arial, sans-serif;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 739px){
  .fillter-wrapper{
    padding: 10px 12px 0 12px;
    white-space: nowrap;
    .categories{

      .bg{
        display: none;
      }
    }

  }
  .wrapper-body{
    .side-wrapper{
      width: 100%!important;
      .breadcrumb{
        display: none;
      }
      .heading{
        display: none;
      }
      .classify{
        .item-classify{
          width: 83px;
          height: 94px;
          .icon-item{
            padding: 8px;
          }
        }
      }
      .swiper-container{
        ul{
          white-space: nowrap;
        }
        .swiper-button{
          display: none;
        }
      }
      .fillter{
        display: none!important;
      }
    }
  }
}