@import "../../base/base";
//Components
@import "../../components/header/header";
@import "../../components/footer/footer";
@import "../../pages/vehicle/vehicle";

.container{
  .fillter-wrapper{
    white-space: nowrap;
    .container-1{
      margin: 0 auto;

      display: flex;
      align-items: center;
      max-width: 936px;
      .swiper-wrapper{
        .swiper-slide{
          margin: 10px 8px;
          .item {
            margin-right: 2px;
            cursor: pointer;
            & + .item {
              margin-left: 5px;
            }
            position: relative;
            border: 1px solid #9b9b9b;
            border-radius: 3px;
            padding: 3px 10px;
            .badge {
              position: absolute;
              width: 15px;
              height: 15px;
              display: flex;
              border-radius: 50%;
              padding: 3px;
              justify-content: center;
              align-items: center;
              color: #fff;
              background-color: #fc9807;
              top: -8px;
              left: -8px;
              font-size: 12px;
            }
            &.bg {
              background: #f4f4f4;
              border-color: #f4f4f4;
            }
          }
        }
      }

    }
    .categories{
      width: 936px;
      overflow: hidden;
    }
  }
  .wrapper-body{
    .side-wrapper{
      .swiper-container{
        .swiper-wrapper{
          .swiper-slide{
            .classify{
              .item-classify{
                img{
                  width: 48px;
                  height: 48px;
                  object-fit: cover;
                  vertical-align: middle;
                }
              }
            }
            .list{
              display: flex;
              margin-top: 10px;
              .item{
                margin-right: 8px;
                background-color: #fff;
                text-transform: capitalize;
                padding: 6px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                a{
                  color: rgb(34, 34, 34);
                  width: 94px;
                  text-align: center;
                  font-size: 13px;
                  &:hover{
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}